* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
}
.container-hero {
    background-image: url(../gamber/hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    text-align: center;
    font-size: 20px;
    color: black;
}
.container-text {
    background-color: azure;
    margin-top: 50px;
}
.header h2 {
    padding-top: 50px;
    text-align: center;
}
.header hr {
    width: 20%;
    margin: auto;
    border: solid 2px salmon;
    margin-top: 5px;
}
.container-foto {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.foto-items {
    width: 400px;
    background-color: azure;
    padding: 20px;
    margin-top: 30PX;
    box-shadow: 0px 0px 20px -10px;
    border-radius: 10px;
}
.foto-items img {
    width: 100%;
    border-radius: 10px;
}
.foto-items p {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
